 /*//////////////////////////////////////////////////////////////////
[ LOADDING ]*/

.animsition-loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.85);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 56px;
  height: 56px;
  border: 4px solid #717fe0;
  border-radius: 50%;
  animation: loader-scale 1s ease-out infinite;
}

/* Animation */
@keyframes loader-scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}